
@media (max-width: 1199px) {

	/*
	==================================
	Header Section
	==================================
	*/

	.main-menu ul li:not(:last-child){
		margin-right: 25px !important;
	}

	/*
	==================================
	Hero Section
	==================================
	*/

	.hero-text h1{
		font-size: 51px;
	}

	.hero-text p{
		max-width: 685px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	/*
	==================================
	Garden Section
	==================================
	*/

	.garden-box{
		min-height: 278px;
	}

	.garden-box h3{
		font-size: 16px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	/*
	==================================
	Landscaping Section
	==================================
	*/

	.lnd-content P:last-of-type{
		margin: 25px 0px;
	}

	/*
	==================================
	Counter Up Section
	==================================
	*/

	.counter-item p:last-of-type{
		font-size: 16px;
	}

	/*
	==================================
	Gallery Section
	==================================
	*/
	

	/*
	==================================
	Footer Section
	==================================
	*/

	.footer-content h3{
		font-size: 19px;
	}

}

@media (max-width: 991px) {
	
	/*
	==================================
	Header Section
	==================================
	*/

	nav{
		padding:35px 0px !important;
	}

	.menu-toggle-btn{
		z-index: 9999;
	}

	.main-menu{
	    position: fixed;
	    width: 60%;
	    z-index: 999;
	    min-height: 100vh;
	    top: 0;
	    left: -100%;
	   	height: 100%;
	    background: #73B21A;
	    padding: 30px 0px !important;
	    -webkit-transition: all .5s linear;
	    -o-transition: all .5s linear;
	    transition: all .5s linear;
	}

	.main-menu ul li:not(:last-child){
		margin: 10px 0px !important;
	}

	.main-menu ul li:not(:last-child) a{
		color: #fff !important;
	}

	.open-nav{
		left: 0;
	}

	/*
	======================
	Header Sticky
	======================
	*/
	.header-sticky.stick {
    	padding: 25px 0px !important;
	}

	/*
	==================================
	Service Section
	==================================
	*/
	.service-desc p:first-child {
    	font-size: 16px !important;
	}
	

	/*
	==================================
	Hero Section
	==================================
	*/
	.hero-text h1{
		font-size: 36px;
	}

	/*
	==================================
	Landscaping Section
	==================================
	*/
	.open-video img{
		width: 100%;
	}

	/*
	==================================
	Gallery Section
	==================================

	/*
	==================================
	Footer Section
	==================================
	*/
	.useful-links{
		padding-left: 40px;
	}


}

@media (max-width: 767px) {

	/*
	==================================
	Header Section
	==================================
	*/

	.main-menu{
	    width: 70%;
	}

	/*
	==================================
	Hero Section
	==================================
	*/
	.hero-section{
		padding: 80px 0px;
	}

	.hero-text h1 {
    	font-size: 41px;
	}

	/*
	==================================
	Garden Section
	==================================
	*/
	.garden-section{
		padding-top: 65px;
		padding-bottom: 55px;
	}

	.garden-box {
    	min-height: auto;
	}

	/*
	==================================
	Landscaping Section
	==================================
	*/

	.lnd-section{
		padding-top: 70px;
		padding-bottom: 40px;
	}

	.list-content ul:first-of-type{
		margin-right: 70px;
	}

	/*
	==================================
	Service Section
	==================================
	*/
	.service-section{
		padding-top: 65px;
		padding-bottom:40px;	
	}

	.service-box{
		padding-left: 12px;
		padding-right: 12px;
	}
	
	.service-icon{
		margin-right: 0px;
		margin-bottom: 15px;
	}

	.service-desc p:last-child{
		margin-top: 15px;
	}

	/*
	==================================
	Counter Up Section
	==================================
	*/
	.counter-section{
		padding-top: 70px;
		padding-bottom: 60px;
	}

	/*
	==================================
	Meet Section
	==================================
	*/
	.meet-section{
		padding-top: 60px;
		padding-bottom: 70px;
	}

	/*
	==================================
	Gallery Section
	==================================
	*/
	/*.gallery-img img{
		width: 100%;
	}

	/*
	==================================
	News Section
	==================================
	*/
	.news-section{
		padding-top: 60px;
		padding-bottom: 40px;
	}

	/*
	==================================
	Footer Section
	==================================
	*/
	footer{
		padding-top: 63px;
	}

	.copyright-text{
		margin-bottom: 15px;
	}



}
@media (max-width: 575px) {
	
	/*
	==================================
	Font Size
	==================================
	*/
	.font-size-35 {
    	font-size: 26px;
	}

	/*
	==================================
	Header Section
	==================================
	*/

	.main-menu{
	    width: 75%;
	}

	.login-signup li:first-child{
		margin-right: 8px;
	}

	.search-box {
	    min-width: 300px;
	    padding-top: 15px !important;
	    padding-bottom: 15px !important;
	}


	/*
	==================================
	Hero Section
	==================================
	*/
	.hero-text h1 {
    	font-size: 37px;
	}

	/*
	==================================
	Landscaping Section
	==================================
	*/
	.lnd-content p:first-child{
		font-size: 18px;
	}
	
	/*
	==================================
	Gallery Section
	==================================
	*/

	/*
	==================================
	News Section
	==================================
	*/
	.news-img img{
		width: 100%;
	}

	/*
	==================================
	Footer Section
	==================================
	*/
	.useful-links{
		padding-left: 0px;
	}
}


@media (max-width: 540px) {

	/*
	==================================
	Landscaping Section
	==================================
	*/
	.list-content ul:first-of-type {
    	margin-right: 20px;
	}

}

@media (max-width: 489px) {

	/*
	==================================
	Landscaping Section
	==================================
	*/
	.list-content{
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
	}

	.list-content ul:first-of-type {
    	margin-right: 0px;
    	margin-bottom: 0px;
	}

	.list-content ul:last-of-type {
    	margin-bottom: 20px;
	}
}