html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans 400';
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 1px;
	font-style: normal;
}


/*
==================================
Basic Setup
==================================
*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul li {
	list-style-type: none;
}

a,
span,
label {
	display: inline-block;
}

a,
a:focus {
	text-decoration: none;
}

button,
input,
textarea,
button:focus,
input:focus,
textarea:focus {
	outline: 0;
	border: 0;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
hr {
	margin: 0;
	padding: 0;
}


/*
==================================
Font Size
==================================
*/

.font-size-55 {
	font-size: 55px;
}

.font-size-35 {
	font-size: 35px;
}

.font-size-27 {
	font-size: 27px;
}

.font-size-24 {
	font-size: 24px;
}

.font-size-20 {
	font-size: 20px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-17 {
	font-size: 17px;
}

.font-size-16 {
	font-size: 16px;
}

.font-size-15 {
	font-size: 15px;
}

.font-size-14 {
	font-size: 14px;
}

.font-size-13 {
	font-size: 13px;
}


/*
==================================
Font Color
==================================
*/

.text-color-ff {
	color: #ffffff;
}

.text-color-33 {
	color: #333333;
}

.text-color-73 {
	color: #73b21a;
}

.text-color-66 {
	color: #666666;
}

.text-color-7a {
	color: #7a7a7a;
}

.text-color-80 {
	color: #808080;
}

.text-color-97 {
	color: #979797;
}

.text-color-dd {
	color: #DDD;
}

.text-color-80 {
	color: #808080;
}


/*
==================================
Background Color
==================================
*/

.bg-color-73 {
	background: #73B21A;
}

.bg-color-ff {
	background: #ffffff;
}

.bg-color-4b {
	background: #4B7017;
}

.bg-color-22 {
	background: #222222;
}

.bg-color-f9 {
	background: #F9F9F9;
}

.bg-color-0e {
	background: #0E0E0E;
}

.bg-color-40 {
	background: #406E00;
}

.bg-color-8c {
	background: #8C8C8C;
}

.bg-color-15 {
	background: #151515;
}


/*
==================================
Reusable Components
==================================
*/

.line-1,
.line-2 {
	opacity: 1;
	border: 0;
	border-bottom: 3px solid #73B21A;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
}

.line-1 {
	width: 120px;
	margin-bottom: 5px;
}

.line-2 {
	width: 75px;
}

.p-w {
	max-width: 803px;
}

.btn-primry {
	width: 150px;
	height: 40px;
	line-height: 40px;
}

.btn-primry:hover {
	background: #4b7017;
}

.overlay-2 {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	bottom: 0;
	right: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, .8)), to(rgba(115, 178, 26, .8)));
	background: -o-linear-gradient(rgba(51, 51, 51, .8), rgba(115, 178, 26, .8));
	background: linear-gradient(rgba(51, 51, 51, .8), rgba(115, 178, 26, .8));
	transform: scale(0);
}

.transition-ease {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.transition-linear {
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}


/*
==================================
Reusable Components
==================================
*/


/*
==================================
Preloader
==================================
*/

.preloader {
	position: fixed;
	top: 0;
	z-index: 9999999;
	left: 0;
	height: 100%;
	background: #fff;
	width: 100%;
	right: 0;
	bottom: 0;
}


/*
==================================
Preloader
==================================
*/


/*
==================================
Header Section
==================================
*/

.header-top {
	padding: 8px 0px;
}

.main-menu ul li:not(:last-child) a:hover {
	color: #73B21A;
}


/*
======================
Menu Toggle Btn
======================
*/

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #151515;
	margin: 6px 0;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	-ms-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	-ms-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.login-signup li:last-child a {
	border-radius: 10px;
}

.main-menu ul li:last-of-type a,
.mobile-menu-search a {
	height: 35px;
	width: 35px;
	line-height: 35px;
}


/*
======================
Search Box
======================
*/

.search-box {
	position: absolute;
	top: 210%;
	right: 0;
	border-top: 2px solid #73B21A;
	min-width: 330px;
	background: #ecf0f1;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.search-box-show {
	top: 130%;
	visibility: visible;
	opacity: 1;
}

.search-box input[type=search] {
	background: #fff;
}

.search-box input[type=search]:focus {
	background: #fff;
}


/*.search-box input[type=search]:-webkit-autofill,
.search-box input[type=search]:-webkit-autofill:hover, 
.search-box input[type=search]:-webkit-autofill:focus, 
.search-box input[type=search]:-webkit-autofill:active  {
    -webkit-background: #fff !important;
}*/

.search-box input[type=search]::-webkit-input-placeholder {
	color: #151515;
	font-family: 'Open Sans 400';
}

.search-box input[type=search]::-moz-placeholder {
	color: #151515;
	font-family: 'Open Sans 400';
}

.search-box input[type=search]:-ms-input-placeholder {
	color: #151515;
	font-family: 'Open Sans 400';
}

.search-box input[type=search]::-ms-input-placeholder {
	color: #151515;
	font-family: 'Open Sans 400';
}

.search-box input[type=search],
.search-box input[type=search]::placeholder {
	color: #151515;
	font-family: 'Open Sans 400';
}

.search-box input[type=search],
.search-box button {
	padding-top: 12px;
	padding-bottom: 12px;
}


/*
======================
Header Sticky
======================
*/

.header-sticky.stick {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	z-index: 999999;
	background: #fff;
	padding: 25px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}


/*
==================================
Header Section
=================================
/*

/*
==================================
Hero Section
==================================
*/

.hero-section {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, .7)), to(rgba(115, 178, 26, .7))), url(../images/banner1.jpg);
	background: -o-linear-gradient(rgba(51, 51, 51, .7), rgba(115, 178, 26, .7)), url(../images/banner1.jpg);
	background: linear-gradient(rgba(51, 51, 51, .7), rgba(115, 178, 26, .7)), url(../images/banner1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-text a {
	border-radius: 8px;
}

.hero-img img {
	margin-bottom: -1px;
}


/*
==================================
Hero Section
==================================
*/


/*
==================================
Garden Section
==================================
*/

.garden-row {
	margin-left: -15px;
	margin-right: -15px;
}

.garden-row>* {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.garden-box {
	min-height: 238px;
}

.garden-box:hover {
	background: #73B21A;
}

.garden-box a {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -17px;
}


/*
==================================
Garden Section
==================================
*/


/*
==================================
Landscaping Section
==================================
*/

.lnd-section {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/banner2.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/banner2.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/banner2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.lnd-row {
	margin-left: -15px;
	margin-right: -15px;
}

.lnd-row>* {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.open-video .play-btn {
	height: 70px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 70px;
	line-height: 70px;
	position: absolute;
}

.lnd-content a {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.lnd-content a:hover {
	background: #73B21A;
}

.list-content ul li {
	line-height: 27px;
}

.list-content ul:first-child {
	margin-bottom: 19px;
}


/*
==================================
Landscaping Section
==================================
*/


/*
==================================
Service Section
==================================
*/

.service-row {
	margin-left: -15px;
	margin-right: -15px;
}

.service-row>* {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.service-box {
	background: #F9F9F9;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.service-box:hover {
	background: #73B21A;
	-webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.service-box:hover .service-icon span {
	background: #ffffff !important;
	;
	color: #73B21A !important;
	;
}

.service-box:hover .service-desc p {
	color: #ffffff !important;
}

.service-desc p:first-child {
	letter-spacing: 0px;
}

.service-box:hover .service-desc hr {
	border-color: #ffffff !important;
}

.service-icon span {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 60px;
	font-size: 20px;
	height: 60px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.service-desc {
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.service-desc hr {
	opacity: 1;
	border: 0;
	border-bottom: 2px dashed #73B21A;
	background: transparent;
	margin-top: 6px;
	margin-bottom: 7px;
}


/*
==================================
Service Section
==================================
*/


/*
==================================
Counter Up Section
==================================
*/

.counter-section {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/banner3.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner3.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.counter-item p:last-child {
	margin-top: -10px;
}

.counter-img {
	height: 68px;
	width: 68px;
	border: 2px solid #fff;
	line-height: 68px;
	margin-bottom: 2px;
}


/*
==================================
Counter Up Section
==================================
*/


/*
==================================
Meet Section
==================================
*/

.team-img img {
	width: 100%;
}

.overlay {
	position: absolute;
	left: 0;
	bottom: -100%;
	height: 100%;
	z-index: 11;
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(115, 178, 26, .7)), to(rgba(51, 51, 51, .7)));
	background: -o-linear-gradient(rgba(115, 178, 26, .7), rgba(51, 51, 51, .7));
	background: linear-gradient(rgba(115, 178, 26, .7), rgba(51, 51, 51, .7))
}

.team-content:hover .overlay {
	bottom: 0;
}

.social-link {
	position: absolute;
	left: 0;
	bottom: -42px;
	width: 100%;
	z-index: 111;
}

.team-content:hover .social-link {
	bottom: 0px;
}

.social-link ul {
	padding: 7px 0px;
}

.team-name {
	padding: 9px 0px;
}

.team-name p:first-child {
	margin-bottom: -2px;
}


/*
==================================
Meet Section
==================================
*/


/*
==================================
Gallery Section
==================================
*/

.btn-area {
	margin-bottom: 42px;
}

.gallery-img:hover .gallery-overlay {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.gallery-img {
	height: 100%;
}

.gallery-img img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.mixitup-control-active {
	text-decoration: line-through !important;
}


/*
==================================
Gallery Section
==================================
*/


/*
==================================
Slider Section
==================================
*/

.slider-section {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/banner4.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner4.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slider-content img {
	width: 90px;
	height: 90px;
	border: 4px solid #dddddd;
	margin-bottom: 14px;
}

.slider-content p:nth-child(2) {
	margin-top: 2px;
}

.slider-content p:last-child {
	max-width: 873px;
	margin-top: 5px;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	background: #fff;
	opacity: 1;
}

.swiper-pagination-bullet {
	display: block;
}

.swiper-pagination-bullet-active {
	background: #73B21A;
	width: 20px;
	height: 20px;
}


/*
==================================
Slider Section
==================================
*/


/*
==================================
News Section
==================================
*/

.news-row {
	marign-left: -15px;
	marign-right: -15px;
}

.news-row>* {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.news-desc P:first-child {
	margin-bottom: 8px;
	letter-spacing: 0;
}

.news-content {
	-webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.news-content:hover .news-overlay {
	z-index: 9999;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.month {
	line-height: 35px;
	width: 140px;
	z-index: 99999;
	height: 35px;
	border-top-right-radius: 18px;
	position: absolute;
	left: 0;
	bottom: -35px;
}

.news-content:hover {
	-webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.news-content:hover .month {
	bottom: 0;
}

.news-desc P:last-child {
	margin-bottom: 15px;
	letter-spacing: 0px;
}

.news-link {
	border-color: #dddddd !important;
}

.news-link a span:last-child {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.news-link a:hover {
	color: #73B21A !important;
}

.news-link a:hover .news-icon {
	opacity: 1;
	visibility: visible;
}


/*
==================================
News Section
==================================
*/


/*
==================================
Footer Section
==================================
*/

footer {
	padding-top: 108px;
}

.f-line {
	border: 0;
	border-bottom: 1px solid #DDD;
}

.f-social-link li a:hover {
	color: #73B21A;
}

.pages-link li a i {
	font-size: 6px;
	vertical-align: middle;
}

.pages-link li a:hover {
	padding-left: 3px;
}

.pages-link li a:hover .dote {
	color: #73B21A;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.time {
	border-bottom: 1px solid #fff;
	padding-bottom: 7px;
}

.time:hover {
	border-color: #73B21A;
}

.time:hover .time-text {
	color: #73B21A;
}

.f-bottom-page-link li a:hover {
	color: #73B21A;
}


/*
==================================
Footer Section
==================================
*/


/*
==================================
Scroll to Top
==================================
*/

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	height: 35px;
	width: 35px;
}

#myBtn:focus {
	background-color: #73B21A;
}


/*
==================================
Scroll to Top
==================================
*/